@media (min-width: $tablet-min) and (max-width: $tablet-max) {
  .hero {
    flex-direction: column;

    .doodle {
      margin: 0;
    }

    .hero-content {
      padding: 0.5rem;
    }
  }

  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: $mobile) {
  .hero {
    flex-direction: column;

    .doodle {
      height: 15rem;
      margin: 0;
    }

    .hero-content {
      padding: 0;
    }
  }

  .skills-grid {
    grid-template-columns: 1fr;
  }

  .projects {
    h1 {
      font-size: 1.5rem;
      margin: 0;
    }

    .project-cards {
      gap: 1rem;
    }

    .project-card {
      flex-direction: column;

      img {
        height: 300px;
      }

      .info {
        height: 250px;
        width: 90%;
        gap: 0;
      }
    }
  }
}

@media (max-width: $small-screen) {
  body {
    font-size: 12px;
  }

  .logo {
    display: none;
  }

  .container {
    justify-content: space-evenly;
  }

  h1 {
    font-size: 1.5rem;
    margin: 0;
  }

  nav ul li {
    margin: 0 10px;
  }
}